---
import BgAbout from '../icons/Bg_about.astro'
import About2_title from '../icons/About2_title.astro'
---


<section class="section   p-20 rounded-xl my-4 text-center ">    
    <h6 class="text-5xl font-bold bg-dark text-center  pb-2 bg-transparent text-white  ">About us</h6>
    <article class="flex  flex-col md:flex-row justify-center ">
        <span class="flex-1">            
            <BgAbout></BgAbout>               
        </span>
        <span class="flex-1 md:p-20">
            <About2_title></About2_title>

       
            <h3 class="p-5  text-xl text-justify ">
                Somos una empresa dedicada al desarrollo integral web y con un enfoque en el diseno.
                Somos una empresa dedicada al desarrollo integral web y con un enfoque en el diseno.Somos una empresa dedicada al desarrollo integral web y con un enfoque en el diseno.   
            </h3>
        </span>

    </article>
        
   

</section>


