---
import BgAbout from '../icons/Bg_about.astro'
import About2_title from '../icons/About2_title.astro'
---


<section class="section   p-20 rounded-xl my-4 text-center text-white ">    
    <h6 class="text-5xl font-bold bg-secondary text-center  pb-2 bg-transparent text-white  ">About us</h6>
    <article class="flex  flex-col md:flex-row justify-center ">
        <span class="flex-1">            
            <BgAbout></BgAbout>   
        </span>
        <span class="flex-1 md:p-20">
            <About2_title></About2_title>

            <p class="text-black p-4 pt-10  text-xl text-justify">
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam maxime sequi quidem, ab suscipit corporis odit vel ipsa fuga eligendi.
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto cum quasi, distinctio veniam sapiente iure illo! Sit magni vero nostrum consectetur voluptatum nulla ratione aliquid, corrupti nihil alias placeat veniam.
            
            </p>
        </span>

    </article>
        
   

</section>


