<section class="bg-zinc-900 p-20 rounded-xl my-4 text-center text-white">
    <h2 class="text-xl font-bold my-5">About Us    
    </h2>
    <p class="text-zinc-300">
Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quibusdam maxime sequi quidem, ab suscipit corporis odit vel ipsa fuga eligendi.
    </p>

</section>


