/* styles/global.css */

@import '@fortawesome/fontawesome-free/css/all.css';

html{
    background-color: white;
    color: #202020;
    color: #676767;
    transition: all ease-in-out 0.3s;
  }
html.dark {
    background-color: #202020;
    color: #fff;
  }
  
  .dark .nav-links a {
    color: #fff;
  }
