<footer class="bg-zinc-900 text-white   py-10  mt-4  ">
    <div class="px-10 mx-auto container flex flex-col md:flex-row  justify-evenly gap-4 text-center md:text-xl">
        <div>
            <h4 class="font-bold text-xl"></h4>
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/princing">Princing</a>
        </div>
        <div>
            <h4 class="font-bold text-xl" class="font-bold">Site Map</h4>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
            <p>Lorem, ipsum.</p>
        </div>
        <div>
            <h4 class="font-bold text-xl">SocialLinks</h4>
            <a href="/">Facebook</a>
            <a href="/about">Instagram</a>
            <a href="/princing">Dicord</a>        
            
        </div>
    </div>
   
</footer>