---
import Footer from '../components/Footer.astro'
import '../styles/Layout.css'
import Header from '../components/Header.astro';


interface Props{
    title?: string
    description?: string

}
const {title, description} = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name={title} content={description}>
    <title>C∆D | {title}</title>
</head>
<body>
    <Header></Header>
    <main class="mx-auto container ">
        <slot></slot>
        <Footer></Footer>
    </main>
    
</body>
</html>